@import 'styles/mixins';
@import 'styles/navbar';

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Zen Maru Gothic", sans-serif;
  background-color: $offwhite2;
  color: $black;
  line-height: 1.6;
  padding: 20px;
  margin-right: 25%;
}

h1 {
    color: $primary1;
}

h2 {
    color: $primary2;
    font-family: "Zen Kurenaido", sans-serif;
}

h3 {
    font-family: "Zen Kurenaido", sans-serif;
    color: $primary1;
}

h4 {
    color: $secondary2;
}

a {
    color: $secondary2;
}

.hero, .about, .portfolio, .contact {
    margin-bottom: 160px;
}

/*Hero*/

.hero {
    height: calc(100vh - 210px);
    display: grid;
    align-items: center;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
        'title1 photo'
        'title2 photo';
    h3 {
        color: $primary2;
        align-self: end;
        grid-area: title1;
    }
    h1 {
        align-self:self-start;
        grid-area: title2;
    }
    .hero-image {
        grid-area: photo;
    }
}

/* About */
.about {
    display: grid;
    gap: 40px;
    grid-template-areas: 
    'title title'
    'left  right';
    h2 {
        grid-area: title;
    }
    .about-left-col {
        grid-area: left;
        display: grid;
        gap: 40px;

        .pro-exp {
            ul {
                margin-top: 32px;
                list-style-type: circle;
                li {
                    margin-left: 20px;
                }
            }
        }
    }
    .about-right-col {
        grid-area: right;
    }
}

/* Portfolio */
.portfolio {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Contact */
.contact {
    ul {
        margin-top: 32px;
        list-style-position: inside;
        list-style-type: circle;
    }
}