/* About Us */
.about-section {
    background-color: var(--bg-shade);
  }
  .about-heading {
    font-size: 54px;
    text-align: center;
    color:var(--lightpink);
    margin-bottom: 35px;
  }
  .about-content {
    color:var(--lightpink);
    color: var(--lightpink);
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
  }
  /* About Us Ends */