/* Contact Starts */
.contact-content {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    @include respond(md) {
      column-gap: 40px;
    }
    .contact-info {
      svg {
        height: 100px;
        width: 100px;
        color: var(--lightlavender);
        &:hover {
          color: var(--darklavender);
        }
      }
    }
  }
  /* Contact End */