$media: (
    sm: 640px,
    md: 768px,
    lg: 1200px,
    xl: 1400px,
    3xl: 1920px,
);

@mixin respond($breakpoint) {
    @each $breakpoints, $size in $media {
        @if $breakpoint==$breakpoints {
            @media screen and (min-width: $size) {
                @content;
            }
        }
    }
}