/* Navbar Style Start */
.navbar {
  font-family: winterMinie, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--navbar);
  box-shadow: 0px 5.333px 80px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include respond(lg) {
    padding: 15px 85.333px;
  }

  svg {
    width: 3rem;
    height: 3rem;
  }

  &--items {
    > ul {
      list-style: none;
      display: flex;
      align-items: flex-start;
      gap: 42.667px;

      li {
        text-align: center;

        a {
          text-decoration: none;
          color: var(--lightpink);
          font-size: 26px;
          letter-spacing: 2px;
          font-weight: 400;
          line-height: 24px;
          cursor: pointer;

          &.navbar--active-content {
            color: var(--primary);
          }
        }
      }
    }
  }
}

/* Hamburger Menu */
.nav__hamburger {
  display: none;
  width: 3rem;
  height: 3rem;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: none;

  &.active .hamburger-icon {
    display: none;
  }

  &.active .x-icon {
    display: block;
  }

  .hamburger-icon {
    display: block;
  }

  .x-icon {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 200;
  }

  .navbar--items {
    position: absolute;
    top: -22rem;
    left: 0;
    width: 100%;
    background: var(--navbar);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all ease-in-out 0.4s;
    z-index: -1000;

    &.active {
      top: 0;
    }

    ul {
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 3rem 0 2rem;
      z-index: -100;

      li {
        a {
          padding: 0.5rem;
        }
      }
    }
  }
}
