@import 'styles/mixins';
@import 'styles/navbar';
@import 'styles/hero';
@import 'styles/about';
@import 'styles/portfolio';
@import 'styles/contact';

/* Global CSS */

@font-face {
  font-family: winterMinie;
  src: url('../public/fonts/Winter\ Minie.ttf');
}

body {
  margin: 0;
  font-family: Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --primary: #dcb5ff;
  --heading-color: #ffe9e3;
  --bg-shade: #132743;
  --darkpink: #ffb5b5;
  --lightpink: #ffe9e3;
  --navbar: #352961;
  --darklavender: #9873b9;
  --lightlavender: #fbeeff;
  --black: #000000;
  --white: #ffffff;
}
.btn {
  font-family: winterMinie, Tahoma, sans-serif;
  display: inline-block;
  padding: 14px 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.5s;
}
.btn-outline-primary {
  color: var(--primary);
  background-color: var(--darklavender);
  border: 1px solid var(--primary);
}
.btn-outline-primary:hover {
  color: var(--darklavender);
  background-color: var(--primary);
}
.btn-primary {
  color: var(--darklavender);
  background-color: var(--primary);
  border: 1px solid var(--primary);
  letter-spacing: 1px;
  font-size: 24px;
  text-transform: uppercase;
}
.btn-primary:hover {
  color: var(--darklavender);
  background-color: var(--lightpink);
}
/* Global CSS Ends */
/* Main Headings */

/* Heading 1 */
h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  font-family: winterMinie, Tahoma, sans-serif;
}
/* Heading 2 */
h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 3px;
  font-family: winterMinie, Tahoma, sans-serif;
}

.section {
  margin: auto;
  padding: 50px 25px;
  @include respond(lg) {
    padding: 90px 85px 90px;
  }
}

.about-section, .contact-section {
  background-color: var(--bg-shade);
}
.about-heading, .portfolio-heading, .contact-heading {
  font-size: 54px;
  line-height: 54px;
  text-align: center;
  color:var(--lightpink);
  margin-bottom: 35px;
}